#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #edf2f4;
  overflow: hidden;
}

#container .animated-box {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #ef233c;
  border-radius: 1rem;
  color: #edf2f4;
}

#container .animated-box:not(:first-of-type) {
  margin-top: 2rem;
}

#container .animated-box:nth-child(2n + 2) {
  width: 1000px;
  background-color: #2ec192;
}
